<!DOCTYPE html>
<html>
<head>
  <title>Hochella 2016</title>

  <%= favicon_link_tag 'crystal_ball.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- google font 'jura' -->
  <link href='https://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>

  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div id="footer-container">
  <%= link_to "home", root_path, :class => "small white" %>
  <p class="small footer">hochella is brought to you by the witches west</p>
  <p class="small footer">designed and built by <a href="https://about.me/edatrix", class="white">@edatrix</a> </p>
  <p class="small footer">&copy; <span id="home-path">2016</span> hochella</p>
</div>

</body>
</html>
